body {
    background-color: #fafafa;
}

.navbar-custom {
    background-color: #66768b;
}

#friends-container {
    background-color: #fafafa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

#friends-container h4 {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid grey;
}

#friends-buttons {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}





.add_friend {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.invite_friends {
    width: 50%;
    margin: auto;
}

.add_friend a {
    background-color: #F8E9A1;
    padding: 10px;
}

.invite_friends a {
    background-color: #F76C6C;
    padding: 10px;
}
