body {
    background-color: #fafafa;
}

.navbar-custom {
    background-color: #66768b;
}

/* #logout {
    color: white;
} */

#logout:hover {
    color: darkred;
}

#instructions {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    color: #374785;
    padding: 20px;
}

#contact {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    color: #374785;
    padding: 20px;
} 
