body {
    background: #A8D0E6;
}


h1 {
    margin-top: 100px;
    text-align: center;
    color: #5f5f5f;
}

#main {
    background-color: #F76C6C;
    width: 400px;
    height: 330px;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}

.container {
    align-content: center;
}
