body {
    background: #A8D0E6;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #F76C6C;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #F76C6C;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #374785;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(94, 94, 94);
    background: #A8D0E6;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #374785;
    color: #fff;
    transition: all 0.3s;
    padding-left: 20px;
    padding-top: 20px;
}

#logout {
    color: white;
}

#logout:hover {
    color: #F76C6C;
}

.input_schedule {
    width: 30%;
    margin: auto;
    padding-top: 30px;
    color: #374785;
}

input{ 
    width: 500px;
    height: 500px;
}

form {
    text-align: center;
}

button {
    margin-top: 10px;
}

textarea {
    display: block;
}

#instructions {
    width: 110%;
    margin: auto;
    margin-top: 50px;
    background-color: #A8D0E6;
    color: #374785;
    padding: 20px;
}

.warning-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}

.stevesButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.stevesButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.stevesButton:active {
	position:relative;
	top:1px;
}

.stevesButton2 {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.stevesButton2:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.stevesButton2:active {
	position:relative;
	top:1px;
}
